<!DOCTYPE html>
<html lang="en">
<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
 <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<input type='file' onchange="readURL(this);" />
    <img id="blah" src="#" alt="your image" />
<br>
<br>
<br>
<br>
<br>
<form action="{% url 'index' %}" method="POST">{% csrf_token %}

<input type="date" name="start_time">start time
<input type="date" name="end_time">end time

    <button type="submit">click me</button>
</form>
one

<a class="btn btn-dengar" href="{% url 'pdf_create' %}" target="_blank">pdf</a>
<a class="btn btn-dengar" href="" target="_blank">pdf_2</a>




<a class="btn btn-dengar" href="{% url 'new' %}" target="_blank">new</a>
<a class="btn btn-dengar" href="{% url 'dashboard_customer_order_edit_Generate_Invoice' %}" target="_blank">dsddsdsdsdsds</a>





<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
                    .height(200);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

</script>

</body>
</html>